/* error-404.page.scss */
.error-message {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: red;
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  