<ion-header>
  <ion-toolbar class="">
    <ion-title>Inicio Sesion Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-background"></div>
  <div class="form-wrapper">
    <div class="card">
      <form class="form" (ngSubmit)="login()">
      <p id="heading">Login</p>

      <!-- Username Field -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input 
          type="text" 
          class="input-field" 
          placeholder="Username" 
          autocomplete="off" 
          [(ngModel)]="username" 
          name="username" 
          required>
        </ion-input>
      </ion-item>

      <!-- Password Field -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          type="password" 
          class="input-field" 
          placeholder="Password" 
          [(ngModel)]="password" 
          name="password" 
          required>
        </ion-input>
      </ion-item>

      <!-- Login Button -->
      <div class="btn">
        <ion-button expand="full" class="button1" type="submit">
          Ingresar
        </ion-button>
      </div>

      <div class="btn">
        <ion-button expand="full" class ="button2" fill="clear" (click)="goBack()"> 
          Regresar
        </ion-button>
      </div>

      <!-- Forgot Password Button -->
      <div class="btn">
        <ion-button expand="full" class="button3" fill="clear" (click)="restA()"> <!-- Aquí eliminamos el href -->
          ¿Olvidaste tu Contraseña?
        </ion-button>
      </div>

      </form>
    </div>
  </div>
</ion-content>